nome,tipo_documento,numero_documento,orgao_expedidor,situacao,ntelefone
Carla Martins,CPF,11122233344,Receita Federal,Brasileiro maior,84999998888
Bruno Azevedo,CPF,22233344455,Receita Federal,Brasileiro maior,
Pedro Henrique Criança,RG,1234567,SSP/RN,Brasileiro criança,84988887777
Juliana Lima,CPF,44455566677,Receita Federal,Brasileiro maior,